h1{
    color:white;
}
body{
    background-color: black;
}
.poster{
    padding: 100px 50px 100px 50px;
    text-align: center;
    border: 5px;
}
p{
    color: white;
}
img{
    border: 5px solid #FFFFFF;
}